<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Helper</title>

    <script type="text/javascript">
      function sendRecipe() {
        console.log("a");
        const id = parseInt(document.getElementById("recipe").value);
        if (!isNaN(id)) {
          window.location = `${window.location}recipes/add/${id}`;
        }
      }
    </script>
  </head>
  <body>
    <p>Rezept-ID:</p>
    <input id="recipe" />
    <button onclick="sendRecipe()">Hinzufügen</button>
  </body>
</html>
